.postItem {
    &__img {
        span {
            display: block;
            width: 100% !important;
            height: 100% !important;
        }
    }
    &__body {
        padding: 0.5rem;
    }
    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__des {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
